<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>Issue <%= @issue.codename %></strong>
</p>

<p>
  <%= @issue.text %>
</p>

<p>
	<div style="margin-left:20px;">
		<%= render 'voice_form' %>
	</div>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
