<!--<p id="notice"><%= notice %></p>-->

<p style="margin-bottom:0px;">
  <small><i>Issue <%= @issue.codename %></i></small>
</p>

<h2 style="margin-top:0px;">
	<%= @issue.text %>
</h2>

<div style="margin-left:20px;">
	<%= render 'voice_form' %>
</div>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
