<p id="notice"><%= notice %></p>

<p>
  <strong>Codename:</strong>
  <%= @issue.codename %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @issue.speaker %>
</p>

<p>
  <strong>Text:</strong>
  <%= @issue.text %>
</p>

<p>
	<div style="margin-left:20px;">
		<% if @voice_given %>
			<%= render 'result_view' %>
		<% end %>
		<%= render 'voice_form' %>
	</div>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
