<!--<p id="notice"><%= notice %></p>-->

<% @spare_issues.each do |issue| %>
	<%= render 'issues/collapsed_issue', issue: issue %>
<% end %>

<p style="margin-bottom:0px;">
  <small><i>Issue <%= @issue.codename %></i></small>
</p>

<h2 style="margin-top:0px;">
	<%= @issue.text %>
</h2>

<div style="margin-left:20px;">
	<%= render 'issues/voice_form' %>
</div>

<% if !@issue.id.nil? and speaker_owns?(@issue) %>
	<%= link_to 'Edit', edit_issue_path(@issue) %> |
<% end %>
