<p id="notice"><%= notice %></p>

<h1>Voice-America Fund</h1>

<h2>Current Funds: $0</h2>

<div style="text-align:left;">

<p>70 cents per 1 dollar of all Donation is added directly to the <strong>Voice-America Fund</strong><p>

<p>Any Speaker may create Proposals for how to spend the Fund and these proposals are listed here.<p>

<p>Every Gold-Verified Speaker, <strong>regardless of whether they've ever donated</strong>, gets exactly one vote on every proposal.</p>

<p>On the last day of each month, Proposals with <strong>2/3 or better in favor</strong> will be funded. We will fund as many as possible, going from the top of list downwards, but <strong>only</strong> those at <strong>2/3</strong> or better. Unused funds rollover, i.e. are left alone.</p>
</div>

<hr>

<h1>Listing Proposals</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Speaker</th>
      <th>Text</th>
      <th>Upvotes</th>
      <th>Downvotes</th>
      <th>Boost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= proposal.code %></td>
        <td><%= proposal.speaker %></td>
        <td><%= proposal.text %></td>
        <td><%= proposal.upvotes %></td>
        <td><%= proposal.downvotes %></td>
        <td><%= proposal.boost %></td>
        <td><%= link_to 'Show', proposal %></td>
        <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
        <td><%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proposal', new_proposal_path %>
