<%= form_for(@speaker) do |f| %>
  <% if @speaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speaker.errors.count, "error") %> prohibited this speaker from being saved:</h2>

      <ul>
      <% @speaker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% @spare_issues = [] %>
    <% @voice_given = false %>
    <% @voice_stats = {} %>
    <% @voice = Voice.new %>
    <% @issue = Issue.get_free_codename_issue_for(current_speaker.id) %>
    <%= render "speakers/codenames_choice" %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <!-- find the correct type to use here -->
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :starsign %><br>
    <%= f.text_field :starsign %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
