<p id="notice"><%= notice %></p>

<p>
  <strong>Codename:</strong>
  <%= @speaker.codename %>
</p>

<p>
  <strong>Name:</strong>
  <%= @speaker.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @speaker.email %>
</p>

<p>
  <strong>Starsign:</strong>
  <%= @speaker.starsign %>
</p>

<p>
  <strong>Birth month:</strong>
  <%= @speaker.birth_month %>
</p>

<p>
  <strong>Birth year:</strong>
  <%= @speaker.birth_year %>
</p>

<p>
  <strong>Verification:</strong>
  <%= @speaker.verification %>
</p>

<p>
  <strong>Level:</strong>
  <%= @speaker.level %>
</p>

<p>
  <strong>Session token:</strong>
  <%= @speaker.session_token %>
</p>

<p>
  <strong>Recall token:</strong>
  <%= @speaker.recall_token %>
</p>

<p>
  <strong>Logged in:</strong>
  <%= @speaker.logged_in %>
</p>

<p>
  <strong>Last action:</strong>
  <%= @speaker.last_action %>
</p>

<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
