<!DOCTYPE html>
<html>
<head>
  <title>Voxpopal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="text-align: center;">
	<div class="center-column">
		<div style="text-align:right;background-color:#f00;">
			<% if is_guest? %>
				<i>viewing as guest</i> <%= current_speaker.codename %>.
				Please <%= link_to 'Login', new_session_path %>
				or <%= link_to 'Register', new_speaker_path %>
			<% else %>
				You are logged in as <%= current_speaker.codename %> 
				| <%= link_to 'Logout', new_session_path %>
			<% end %>
		</div>

		<div class='content-body'>
			<%= yield %>
		</div>
	</div>
</div>

</body>
</html>
